:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #7c7c7c;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test responsive */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    z-index: 3;
    /* display: none; */
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
        
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}
   
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
        
.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;

}
    
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);

}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}

/* selection */
.select-input {
    min-width: 200px;
    height: 35px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;    
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input__link {
    display: block;
    padding: 4px 0;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {  
    margin: 0 10px ;  
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: var(--primary-color);
    filter: brightness(110%);
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 100;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.pagination-item__icon {
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.footer__heading {
    text-transform: uppercase;
    color: var(--text-color);
} 

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer-item {
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__qr {
    width: 80px;
    height: 80px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 20px;
    margin: 0 10px 10px;
}

.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 30px;
}
.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}
