:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #7c7c7c;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* sans-serif là chủng fonts, 
nếu Roboto kg tồn tại thì CSS sẽ chọn font là loại sans-serif */
/* các class giúp thực hiên responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full-width {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}
/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;

    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
        
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}
   
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
        
.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;

}
    
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);

}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}